<html>
<body>
<p style="font-family:MS Sans Serif;font-weight:bold;color:blue;font-size:12px;">@Codigo     @Nombre     @RFC     @Telefono     @EMail</p>
@Web
<p style="font-family:MS Sans Serif;font-weight:bold;font-size:12px;">@Domicilio</p>
<p style="font-family:MS Sans Serif;font-size:12px;">Saldo actual: @Saldo | Saldo vencido: @SaldoVencido</p>
<table>
<tr>
<td style="font-family:MS Sans Serif;font-size:12px;">Acumulado de ventas en el año:</td>
<td align="right" style="font-family:MS Sans Serif;font-weight:bold;font-size:12px;">@Acumulado</td>
<td style="font-family:MS Sans Serif;font-size:12px;">Ventas del año pasado:</td>
<td align="right" style="font-family:MS Sans Serif;font-weight:bold;font-size:12px;">@AcumuladoPasado</td>
</tr>
<tr>
<td style="font-family:MS Sans Serif;font-size:12px;">Promedio de ventas mensual año actual:</td>
<td align="right" style="font-family:MS Sans Serif;font-weight:bold;font-size:12px;">@PromedioMensual</td>
<td style="font-family:MS Sans Serif;font-size:12px;">Promedio de ventas mensual año pasado:</td>
<td align="right" style="font-family:MS Sans Serif;font-weight:bold;font-size:12px;align=right;">@PromedioMensualPasado</td>
</tr>
</table>
</br>
<table width="100%" style="font-family:MS Sans Serif;font-size:12px;">
@Contactos
</table>
</br>
<table width="100%" style="font-family:MS Sans Serif;font-size:12px;">
@Antiguedad
</table>
</br>
<table width="100%" style="font-family:MS Sans Serif;font-size:12px;">
@Ventas
</table>
<body>
</html>